.email {
    color: black;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 10px 40px;
}
a {
    color: black;
}
.mail-body {
    margin: 5px 0;
    font-size: 13px;
}
.warning {
    padding-top: 20px;
    font-size: 9px;
    color: #c6c6c6;
}